*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(218, 17, 34);
}

.title{
    color: white;
    margin-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}