*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(218, 17, 34);
}

.title{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white ;
    font-size: 20px;
    font-weight: bold;
}

.content{
    color: grey;
    
}
.sorry{
    
    font-size: 30px;
}
.later{
    font-size: 25px;
}

#back{
    margin-top: 20px;
    color: white;
}

#foot{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:whitesmoke;
    margin-top: 300px;
    font-size: 30px;
}